@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Prociono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: Parisienne;
  color: #FA0CFF;
  font-size: 96px;
  font-weight: 400;
}

/* Nav */
.nav {
  height: 20rem;
  width: 100vw;
  position: relative;
}

.navMainBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navimg {
  height: 80%;
  object-fit: contain;
  border-radius: 25px;
}

.navButtonBox {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}

.navButtonBox-li {
  list-style: none;
  background-color: #C598C0;
  width: 113px;
  height: 37px;
  border-radius: 10px;
  text-align: center;
  line-height: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navButtonBox-li-link {
  text-decoration: none;
  font-family: 'Prociono', serif;
  color: black;
  font-weight: lighter;
}

@media only screen and (max-width: 1000px) {
  .navButtonBox {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .navimg {
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {

  .nav {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .navButtonBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .navButtonBox-li {
    width: 70%;
    margin: 4px;
    height: 3rem;
    line-height: 45px;
  }
  
  .navimg {
    height: auto;
  }

}

/* About */

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Quicksand;
}

.about-header {
  font-family: Parisienne;
  color: #FA0CFF;
  font-size: 96px;
  font-weight: 400;
}

.about span {
  color: #FA0CFF;
}

.about-text {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: regular;
}

.aboutOwner {
  font-family: Parisienne;
  font-size: 48px;
}
.aboutTitle{
  font-family: Quicksand;
}

@media only screen and (max-width: 900px) {
  .about-text {
    width: 90%;
  }
}

.about-text-img {
  width: 18px;
  height: 17px;
  text-align: center;
}

.about-text span {
  color: black;
  font-weight: bold;
}

/* Lingerie */

.lingerie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-family: Quicksand;
}

.lingerie p {
  text-align: center;
}

.lingerie-text {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 70%;
}

.lingerie-text-image {
  width: 18px;
  height: 17px;
}

.lingerieGallery {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.lingerieGallery-box {
  display: flex;
  flex-direction: column;
}

.lingerieGallery-box-textandpricing {
  font-family: Quicksand;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  align-self: center;
  margin: 1%;
  font-size: 12px;
}

.lingerieGallery-box-photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lingerieCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width:30%;
  height: 40rem;
  outline: 1px solid #C598C0;
  margin-top: 10px;
}

.lingeriePhoto{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.photo1 {
  background-image: url('./assets/image4.jpeg');
}

.photo2 {
  background-image: url('./assets/image1.jpeg');
}

.photo3{
  background-image: url('./assets/image3.jpeg');
}

.photo4 {
  background-image: url('./assets/image2.jpeg');
}

.photo5 {
  background-image: url('./assets/image6.jpeg');
}

.photo6{
  background-image: url('./assets/image5.jpeg');
}

.photo7{
  background-image: url('./assets/image8.jpeg');

}

.photo8 {
  background-image: url('./assets/image9.jpeg');
}

.photo9 {
  background-image: url('./assets/image12.jpeg');
}

.photo10{
  background-image: url('./assets/image7.jpeg');
}

.photo11{
  background-image: url('./assets/image11.jpeg');
}

.photo12{
  background-image: url('./assets/image10.jpeg');
}

.photo13 {
  background-image: url('./assets/image13.jpeg');
}

.photo14{
  background-image: url('./assets/image14.jpeg');
}

.photo15{
  background-image: url('./assets/image15.jpeg');
}

.photo16{
  background-image: url('./assets/image16.jpeg');
}

.photo17{
  background-image: url('./assets/image17.jpeg');
}

.photo18{
  background-image: url('./assets/image18.jpeg');
}

.photo19{
  background-image: url('./assets/image19.jpeg');
}


.lingeriePhoto-textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.384);
  color: #FFFFEC;
  font-family: Quicksand;
  align-self: flex-end;

}
 
.lingerieCard-pricebox {
  padding:5px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 100;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .lingerieGallery-box-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .lingerieCard {
    width:40%;
  }

}

@media only screen and (max-width: 800px) {
  .lingerieCard {
    width:80%;
  }
}

/* Sewing */

.sewing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sewingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top:1rem;
}

@media only screen and (max-width: 700px) {
  .sewingBox {
    width: 90%;
  }
}

.sewingBox-subHeading {
  font-family: Parisienne;
  color: #A31E95;
  -webkit-text-stroke: .5px #000000;
  font-size: 36px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}

.sewingBox-text {
  display: flex;
  flex-direction: row;
}

.sewingBox-text-img {
  width: 18px;
  height: 17px;
  margin-right: 5px;
}

.sewingBox-text-p {

}

/* gifts */

.gifts {
  font-family: Quicksand;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.giftbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: auto;
  outline: .1px solid #d8a947;
  margin: 1rem;
  padding: .4rem;
}

.giftbox-heading{
  margin: 1rem;
  text-align: center;
}

.giftbox-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.giftbox-right {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
}

.giftbox-image{
  object-fit: contain;
  object-position: center;
  width: 80%;
  align-self: center;

}

.giftbox-description{
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .giftbox {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .giftbox-right {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
  }

  .giftbox-image{
    object-fit: contain;
    object-position: center;
    width: 70%;
    align-self: center;
  }

  .giftbox-left {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
  }

  .giftbox-heading{
    margin: 1rem;
    text-align: center;
  }
}

/* Contact  */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text-p {
  font-family: Quicksand;
  color: #8E0D62;
  font-weight: 900;
  font-size: 18px;
}

.contactForm {
  font-family: Quicksand;
  text-align: center;
  color: #8E0D62;
  font-weight: 900;
  font-size: 18px;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contactForm input {
  height: 2rem;
}

.contactForm textarea {
  width: 80%;
  outline: 2px solid #C598C0;;
  border: none;
  resize: none;
}

.contactForm label {
  padding: 1%;
}

.contactForm-group1 {
  display: flex;
  flex-direction: row;
}

.contactForm select {
  width: 10rem;
  text-align: center;
  height: 2rem;
}

.contactForm button {
  margin-top: 5px;
  padding: 1%;
  border-radius: 50px;
  width: 10rem;
  border: none;
  background-color: #C598C0;
  transition: background-color 300ms;
}

.contactForm button:active {
  background-color: #fa0bff;
}

/* submitted page*/

.submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
} 

.submitted-text {
  font-family: Quicksand;
  color: #8E0D62;
  font-weight: 900;
  font-size: 20px;
}

.submitted-button {
  margin-top: 1rem;
  list-style: none;
  text-decoration: none;
  background-color: #C598C0;
  color: black;
  width: 113px;
  height: 37px;
  border-radius: 10px;
  text-align: center;
  line-height: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* not found */
.notfound {
  display: flex;
  height: 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Quicksand;
  color: #8E0D62;
  font-weight: 900;
  font-size: 20px;
}

.notfoundBtn {
  margin-top: 1rem;
  list-style: none;
  text-decoration: none;
  background-color: #C598C0;
  color: black;
  width: 180px;
  height: 37px;
  border-radius: 10px;
  text-align: center;
  line-height: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 100;
}