@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Prociono&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100vh;
  width: 100vw;
  border: 3px solid hotpink;
}



/* Nav */
.nav {
  height: 20rem;
  width: 100vw;
  position: relative;
}

.navMainBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navimg {
  height: 80%;
  object-fit: contain;
  border-radius: 25px;
}

.navButtonBox {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}

.navButtonBox-li {
  list-style: none;
  background-color: #C598C0;
  width: 113px;
  height: 37px;
  border-radius: 10px;
  text-align: center;
  line-height: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navButtonBox-li-link {
  text-decoration: none;
  font-family: 'Prociono', serif;
  color: black;
  font-weight: lighter;
}

@media only screen and (max-width: 1000px) {
  .navButtonBox {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .navimg {
    max-width: 100%;
  }
}





