@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Prociono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: Parisienne;
  color: #FA0CFF;
  font-size: 96px;
  font-weight: 400;
}

/* Nav */
.nav {
  height: 20rem;
  width: 100vw;
  position: relative;
}

.navMainBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navimg {
  height: 80%;
  object-fit: contain;
  border-radius: 25px;
}

.navButtonBox {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}

.navButtonBox-li {
  list-style: none;
  background-color: #C598C0;
  width: 113px;
  height: 37px;
  border-radius: 10px;
  text-align: center;
  line-height: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navButtonBox-li-link {
  text-decoration: none;
  font-family: 'Prociono', serif;
  color: black;
  font-weight: lighter;
}

@media only screen and (max-width: 1000px) {
  .navButtonBox {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .navimg {
    max-width: 100%;
  }
}

/* About */

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-header {
  font-family: Parisienne;
  color: #FA0CFF;
  font-size: 96px;
  font-weight: 400;
}



.about span {
  color: #FA0CFF;
}

.about-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin-bottom: 1rem;
}

.about-text-p {
  padding: 1rem;

}

.about-text-img {
  width: 18px;
  height: 17px;
}

.about-text span {
  color: black;
  font-weight: bold;
}

/* Lingerie */

.lingerie {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.lingerie-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 70%;
}

.lingerie-text p {
  padding: 1rem;
}

.lingerie-text-image {
  width: 18px;
  height: 17px;
  margin-right: 5px;
}

.lingerieGallery{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  width: 60%;
  outline: 2px solid hotpink;
  margin-top: 1rem;
}

.lingerGallery-img {
  margin: 2px;
  width: 30%;
  object-fit: cover;
  outline: 1px solid #FCDDEC;
  border-radius: 25px;
}

/* Sewing */

.sewing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sewingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.sewingBox-subHeading {
  font-family: Parisienne;
  color: #A31E95;
  -webkit-text-stroke: .5px #000000;
  font-size: 36px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sewingBox-text {
  display: flex;
  flex-direction: row;
}

.sewingBox-text-img {
  width: 18px;
  height: 17px;
  margin-right: 5px;
}

.sewingBox-text-p {

}





